<section id="gallery">
	<div class="container">
		<h1 class="text-center">Галлерея</h1>
		<div class="devider deviderBrown text-center">
			<p></p>
			<i class="fa fa-circle"></i> 
			<p></p>
		</div>
	</div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<%= image_tag "gallery/1.jpg" %>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<%= image_tag "gallery/2.jpg" %>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<%= image_tag "gallery/3.jpg" %>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<%= image_tag "gallery/4.jpg" %>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<%= image_tag "gallery/5.jpg" %>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<%= image_tag "gallery/6.jpg" %>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<%= image_tag "gallery/7.jpg" %>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<%= image_tag "gallery/8.jpg" %>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<%= image_tag "gallery/9.jpg" %>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<%= image_tag "gallery/10.jpg" %>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<%= image_tag "gallery/11.jpg" %>
			</div>
			<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
				<%= image_tag "gallery/12.jpg" %>
			</div>
		</div>
	</div>
</section>